<%= form_with url: cash_entries_path, method: :get, class:'entry__form-group', remote: true do |f| %>
  <div class='entry__index-tr--sinple-entry'>
    <div class='entry__new-td--date'>
      <%= f.text_field :month, autofocus: true, tabindex: 11, class:'entry__form--date' %>
    </div>
    <div class='entry__new-td--date'>
      <%= f.text_field :day, tabindex: 12, class:'entry__form--date' %>
    </div>
    <div class='entry__new-td--nonself-code'>
      <%= f.text_field :nonself_code, tabindex: 13, class:'entry__form--nonself-code' %>
    </div>
    <div class='entry__new-td--name'>
      <%= f.text_field :nonself_name, disabled: true, class:'entry__form--name' %>
    </div>
    <div class='entry__new-td--amount'>
      <%= f.text_field :received_amount, tabindex: 14, class:'entry__form--amount' %>
    </div>
    <div class='entry__new-td--amount'>
      <%= f.text_field :invest_amount, tabindex: 15, class:'entry__form--amount' %>
    </div>
    <div class='entry__new-td--description'>
      <%= f.text_field :description, tabindex: 16, class:'entry__form--description' %>
    </div>
    <div class='entry__new-td--btn'>
      <%= f.hidden_field :start_month, class:'entry__form--start-month' %>
      <%= f.hidden_field :end_month, class:'entry__form--end-month' %>
      <%= f.hidden_field :self_code, class:'entry__form--self-code' %>
      <%= f.submit '', tabindex: 17 %>
    </div>
  </div>
<% end %>

<!-- 科目候補表示 -->
<div class='entry__subbox'></div>