<div class='content'>
  <% if user_signed_in? %>
    <div class='content__table-box'>
      <%= render 'table', contents: @contents %>
    </div>
  <% end %>
  <div class='content__post-boxes'>
    <% @contents.each do |content| %>
    <div class='content__post-box' id='content__post-box<%= content.id %>'>
      <h4 class='content__post-title'>
        <%= content.title %>
      </h4>
      <label class='content__post-btn' for='content-trigger<%= content.id %>'><i class="fas fa-3x fa-caret-down"></i></label>
      <input id='content-trigger<%= content.id %>' class='content__post-trigger' type='checkbox'>
      <div class='content__post-body'><%= content.body %></div>
      <% if content.user_limited && user_signed_in? == false %>
      <div class='content__post-box-lock'>
        <div class='content__post-box-lock-area'>
          <i class="fas fa-user-lock"></i>
          <p class='content__post-box-lock-text'>ログインして学習を始める</p>
        </div>
      </div>
      <% end %>
    </div>

    <% end %>
  </div>
</div>