<div class='content'>
  <% if user_signed_in? %>
    <div class='content__table-boxes'>
      <%= render 'table', contents: @contents %>
    </div>
  <% end %>
  <div class='content__post-boxes'>
    <% @contents.each do |content| %>
      <div class='content__post-box-area'>
        <div class='content__post-box' id='content__post-box<%= content.id %>'>
          <h3 class='content__post-title'>
            <%= content.title %>
          </h3>
          <label class='content__post-btn' for='content-trigger<%= content.id %>'></label>
          <input id='content-trigger<%= content.id %>' class='content__post-trigger' type='checkbox'>
          <div class='content__post-body'><%= sanitize content.body, tags: %w(h5 p ul li img figure figcaption) %></div>
          <% if content.user_limited && user_signed_in? == false %>
          <div class='content__post-box-lock'>
            <div class='content__post-box-lock-area'>
              <i class="fas fa-user-lock"></i>
              <p class='content__post-box-lock-text'>ログインして学習を始める</p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>