<div class='devise'>
  <h4 class='devise__title'>ユーザ情報編集</h4>

  <%= form_with model: @user, url: user_registration_path, method: :put, class:'devise__form-group' do |f| %>
    <%= render 'devise/shared/error_messages', resource: resource %>

    <div class='devise__form-row'>
      <%= f.label :name, '名前', class:'devise__form-row-label' %>
      <%= f.text_field :name, autofocus: true, class:'devise__form-row-field' %>
    </div>

    <% if @user.provider == nil %>
      <div class='devise__form-row'>
        <%= f.label :email, 'メールアドレス', class:'devise__form-row-label' %>
        <%= f.email_field :email, autocomplete: 'email', class:'devise__form-row-field' %>
      </div>
    <% end %>

    <div class="devise__form-row">
      <%= f.submit "設定の保存", class:'devise__form-row-btn' %>
    </div>
  <% end %>
</div>
