<tr class='report__index-tr'>
  <th class='report__total-td--account'><%= "#{total_account}計" %></th>
  <td class='report__total-td--total-balance'><%= array[12].to_s(:delimited) %></td>
  <td class='report__total-td--average-balance'><%= array[13].to_s(:delimited) %></td>
  <td class='report__total-td--month'><%= array[0].to_s(:delimited) %></td>
  <td class='report__total-td--month'><%= array[1].to_s(:delimited) %></td>
  <td class='report__total-td--month'><%= array[2].to_s(:delimited) %></td>
  <td class='report__total-td--month'><%= array[3].to_s(:delimited) %></td>
  <td class='report__total-td--month'><%= array[4].to_s(:delimited) %></td>
  <td class='report__total-td--month'><%= array[5].to_s(:delimited) %></td>
  <td class='report__total-td--month'><%= array[6].to_s(:delimited) %></td>
  <td class='report__total-td--month'><%= array[7].to_s(:delimited) %></td>
  <td class='report__total-td--month'><%= array[8].to_s(:delimited) %></td>
  <td class='report__total-td--month'><%= array[9].to_s(:delimited) %></td>
  <td class='report__total-td--month'><%= array[10].to_s(:delimited) %></td>
  <td class='report__total-td--month'><%= array[11].to_s(:delimited) %></td>
</tr>