<div class='entry__index-tr'>
  <div class='entry__index-td--date'><%= journal.date.month %></div>
  <div class='entry__index-td--date'><%= journal.date.day %></div>
  <div class='entry__index-td--code'><%= journal.debit.code %></div>
  <div class='entry__index-td--name'><%= journal.debit.name %></div>
  <div class='entry__index-td--code'><%= journal.credit.code %></div>
  <div class='entry__index-td--name'><%= journal.credit.name %></div>
  <div class='entry__index-td--amount'><%= journal.amount.to_s(:delimited) %></div>
  <div class='entry__index-td--description'><%= journal.description %></div>
  <div class='entry__index-td--btn'>
    <%= link_to edit_single_entry_path(journal), class:'entry__index-link', remote: true do %>
      <i class="fas fa-edit"></i>
    <% end %>
  </div>
  <div class='entry__index-td--btn'>
    <%= link_to single_entry_path(journal), method: :delete, class:'entry__index-link', remote: true do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>
</div>