<!-- 画面説明 -->
<a href='' class='modal__open-btn'><i class="far fa-question-circle"></i></a>
<div class='modal__area'>
  <div class='modal__background'></div>
  <a href='' class='modal__close-btn'><i class="far fa-times-circle"></i></a>
  <div class='modal__content'>
    <ul>
      <li>
        <h4 class='modal__content-title'>表示する月を選んでください</h4>
        <p>表示したい期間をドラッグ&ドロップで選択してください。ドラッグした月の色が黄色に変わります。️</p>
        <p>期間を選択したら「表示」ボタンを押してください。仕訳一覧や入力フォームが表示されます。</p>
        <%= image_tag 'single-entry/select-month.png', height: '50px', width: 'auto' %>
      </li>
      <li>
        <h4 class='modal__content-title'>入力フォーム</h4>
        <p>仕訳を入力することができます。</p>
        <p>摘要の入力欄以外はEnterを押すと次の項目に移動し、摘要の入力欄でEnterを押すと仕訳を保存します。</p>
        <p>摘要の入力欄以外は全角で入力した数字が自動で半角に変換されます。</p>
        <p>科目コード入力欄ではコードを入力すると科目候補一覧を表示し、存在する科目を入力し終えると右側に科目名を表示します。</p>
        <p>仕訳を保存すると仕訳一覧に追加され、入力フォームの先頭にフォーカスが移ります。</p>
        <%= image_tag 'single-entry/new.png', height: '240px', width: 'auto' %>
      </li>
      <li>
        <h4 class='modal__content-title'>仕訳一覧</h4>
        <p>指定した期間中の仕訳一覧が表示されます。</p>
        <p>表示する仕訳が15件以上ある場合は最初に15件表示され、一覧部分トップまでスクロールすると追加の仕訳を取得し表示します。</p>
        <p>各仕訳右側の1つ目のアイコンをクリックすると編集モードに変わり、2つ目のアイコンをクリックすると仕訳を削除します。</p>
        <%= image_tag 'single-entry/index.png', height: '120px', width: 'auto' %>
        <p>【編集モード】</p>
        <p>登録済みの仕訳の内容を編集することができます。編集後は右側のアイコンをクリックし保存してください。</p>
        <%= image_tag 'single-entry/edit.png', height: '48px', width: 'auto' %>
      </li>
      <li>
        <h4 class='modal__content-title'>「検索モードにする」ボタン</h4>
        <p>ボタンをクリックすると検索モードになり、ボタンと入力フォームが黄色に変わります。</p>
        <p>もう一度ボタンをクリックすると検索モードを終了します。</p>
        <%= image_tag 'single-entry/search-mode-btn.png', height: '50px', width: 'auto' %>
        <p>入力フォームの任意の項目を入力し、摘要の入力欄でEnterを押すと仕訳一覧の内容を更新します。</p>
        <p>※月で絞り込みを行う場合は、「表示する月を選んでください」にて絞り込みを行なってください。</p>
        <%= image_tag 'single-entry/search-mode-form.png', height: '47px', width: 'auto' %>
      </li>
    </ul>
  </div>
</div>

<div class='single-entry'>
  <!-- 入力月選択フォーム -->
  <div class='single-entry__select-month'>
    <%= render 'layouts/select-month', path: single_entries_path %>
  </div>

  <!-- 検索モードボタン -->
  <div class='single-entry__search-mode'>
    <!-- #indexにて非同期生成 -->
  </div>

  <!-- 仕訳表示 -->
  <div class='single-entry__index'>
    <div class='entry__index-table'>
      <div class='entry__index-thead'>
        <div class='entry__index-tr'>
          <div class='entry__index-th--date'>月</div>
          <div class='entry__index-th--date'>日</div>
          <div class='entry__index-th--code'>借方コード</div>
          <div class='entry__index-th--name'>借方科目名</div>
          <div class='entry__index-th--code'>貸方コード</div>
          <div class='entry__index-th--name'>貸方科目名</div>
          <div class='entry__index-th--amount'>金額</div>
          <div class='entry__index-th--description'>摘要</div>
        </div>
      </div>
      <div class='entry__index-tbody'>
        <!-- #indexにて非同期生成 -->
      </div>
    </div>
  </div>

  <!-- 仕訳入力 -->
  <div class='single-entry__new'>
    <!-- #indexにて非同期生成 -->
  </div>
</div>