<!--　変数定義 -->
<% sales = [] %> <!-- 売上 -->
<% gross_profit = [] %> <!-- 売上総利益  -->
<% operating_profit = [] %> <!-- 営業利益  -->
<% non_operating_income = [] %> <!-- 営業外収入 -->
<% non_operating_profit = [] %> <!-- 営業外利益 --
<% net_profit = [] %> <!-- 当期純利益  -->

<!-- 売上 -->
  <% total_balance_array = [0,0,0,0] %>

  <% accounts.each do |account| %>
    <% if account.total_account == '収入' %>
      <% balance_array = account.return_balances(start_month, end_month) %>
      <% total_balance_array = [total_balance_array, balance_array].transpose.map{|n| n.inject(:+)} %>
      <%= render 'show', account: account, array: balance_array %>
    <% end %>
  <% end %>

  <%= render 'total', total_account: '収入', array: total_balance_array %>

  <% sales = total_balance_array %>

<!-- 原価 -->
  <% total_balance_array = [0,0,0,0] %>

  <% accounts.each do |account| %>
    <% if account.total_account == '原価' %>
      <% balance_array = account.return_balances(start_month, end_month) %>
      <% total_balance_array = [total_balance_array, balance_array].transpose.map{|n| n.inject(:+)} %>
      <%= render 'show', account: account, array: balance_array %>
    <% end %>
  <% end %>

  <%= render 'total', total_account: '原価', array: total_balance_array %>
<!-- 売上総利益 -->
  <% gross_profit.push(0) %>
  <% gross_profit.push(sales[1] + total_balance_array[1]) %>
  <% gross_profit.push(sales[2] + total_balance_array[2]) %>
  <% gross_profit.push(sales[3] - total_balance_array[3]) %>

  <%= render 'total', total_account: '売上総利益', array: gross_profit %>

<!-- 販管費 -->
  <% total_balance_array = [0,0,0,0] %>

  <% accounts.each do |account| %>
    <% if account.total_account == '販管費' %>
      <% balance_array = account.return_balances(start_month, end_month) %>
      <% total_balance_array = [total_balance_array, balance_array].transpose.map{|n| n.inject(:+)} %>
      <%= render 'show', account: account, array: balance_array %>
    <% end %>
  <% end %>

  <%= render 'total', total_account: '販管費', array: total_balance_array %>

<!-- 営業利益 -->
  <% operating_profit.push(0) %>
  <% operating_profit.push(gross_profit[1] + total_balance_array[1]) %>
  <% operating_profit.push(gross_profit[2] + total_balance_array[2]) %>
  <% operating_profit.push(gross_profit[3] - total_balance_array[3]) %>

  <%= render 'total', total_account: '営業利益', array: operating_profit %>

<!-- 営業外収入 -->
  <% total_balance_array = [0,0,0,0] %>

  <% accounts.each do |account| %>
    <% if account.total_account == '営業外収入' %>
      <% balance_array = account.return_balances(start_month, end_month) %>
      <% total_balance_array = [total_balance_array, balance_array].transpose.map{|n| n.inject(:+)} %>
      <%= render 'show', account: account, array: balance_array %>
    <% end %>
  <% end %>

  <%= render 'total', total_account: '営業外収入', array: total_balance_array %>

  <% non_operating_income = total_balance_array %>

<!-- 営業外費用 -->
  <% total_balance_array = [0,0,0,0] %>

  <% accounts.each do |account| %>
    <% if account.total_account == '営業外費用' %>
      <% balance_array = account.return_balances(start_month, end_month) %>
      <% total_balance_array = [total_balance_array, balance_array].transpose.map{|n| n.inject(:+)} %>
      <%= render 'show', account: account, array: balance_array %>
    <% end %>
  <% end %>

  <%= render 'total', total_account: '営業外費用', array: total_balance_array %>

<!-- 営業外利益 -->
  <% non_operating_profit.push(0) %>
  <% non_operating_profit.push(non_operating_income[1] + total_balance_array[1]) %>
  <% non_operating_profit.push(non_operating_income[2] + total_balance_array[2]) %>
  <% non_operating_profit.push(non_operating_income[3] - total_balance_array[3]) %>

  <%= render 'total', total_account: '営業外利益', array: non_operating_profit %>

<!-- 当期純利益 -->
  <% net_profit.push(0) %>
  <% net_profit.push(operating_profit[1] + non_operating_profit[1]) %>
  <% net_profit.push(operating_profit[2] + non_operating_profit[2]) %>
  <% net_profit.push(operating_profit[3] + non_operating_profit[3]) %>
  <tr class='report__total-tr'>
    <td class='report__total-td--code'></td>
    <td class='report__total-td--name'>当期純利益</td>
    <td class='report__total-td--opening-balance'><%= net_profit[0].to_s(:delimited) %></td>
    <td class='report__total-td--debit-balance'><%= ( net_profit[2] - net_profit[1]).to_s(:delimited) %></td>
    <td class='report__total-td--credit-balance'>0</td>
    <td class='report__total-td--ending-balance'><%= net_profit[3].to_s(:delimited) %></td>
    <td class='report__total-td--ledger'></td>
  </tr>