<div class='report__total-tr'>
  <div class='report__total-td--code'></div>
  <div class='report__total-td--name'><%= "#{total_account}計" %></div>
  <div class='report__total-td--opening-balance'><%= array[0].to_s(:delimited) %></div>
  <div class='report__total-td--debit-balance'><%= array[1].to_s(:delimited) %></div>
  <div class='report__total-td--credit-balance'><%= array[2].to_s(:delimited) %></div>
  <div class='report__total-td--ending-balance'><%= array[3].to_s(:delimited) %></div>
  <div class='report__total-td--ledger'></div>
</div>