<tr class='report__total-tr'>
  <td class='report__total-td--code'></td>
  <td class='report__total-td--name'><%= "#{total_account}計" %></td>
  <td class='report__total-td--opening-balance'><%= array[0].to_s(:delimited) %></td>
  <td class='report__total-td--debit-balance'><%= array[1].to_s(:delimited) %></td>
  <td class='report__total-td--credit-balance'><%= array[2].to_s(:delimited) %></td>
  <td class='report__total-td--ending-balance'><%= array[3].to_s(:delimited) %></td>
  <td class='report__total-td--ledger'></td>
</tr>