<!DOCTYPE html>
<html>
  <head>
    <title>FinanceLearning</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/efe3d01fd5.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul class='navbar'>
        <li class='navbar__logo'>
          <%= link_to 'LOGO', root_path, class:'navbar__logo-image' %>
        </li>
        <% if user_signed_in? %>
          <li class='navbar__item'>
            <p class='navbar__user-name'><%= current_user.name %></p>
            <p>
              <% if current_user.year == 0 %>
                <p class='navbar__user-year'>データ未作成</p>
              <% else %>
               <p class='navbar__user-year'><%= current_user.year %>年度</p>
              <% end %>
            </p>
          </li>
          <li class='navbar__item'>
            <%= link_to '学習コンテンツ', contents_path, class:'navbar__item-link' %>
          </li>
          <li class='navbar__item'>
            <%= link_to 'マイページ', users_path, class:'navbar__item-link' %>
          </li>
          <li class='navbar__dropdown'>
            <a href='#' class='navbar__item-link'>入力</a>
            <ul class='navbar__dropdown-list'>
              <li class='navbar__dropdown-item'>
                <%= link_to '単一入力', select_single_entries_path, class:'navbar__item-link' %>
              </li>
              <li class='navbar__dropdown-item'>
                <%= link_to '現金入力', select_cash_entries_path, class:'navbar__item-link' %>
              </li>
              <li class='navbar__dropdown-item'>
                <%= link_to 'カード入力', select_card_entries_path, class:'navbar__item-link' %>
              </li>
            </ul>
          </li>
          <li class='navbar__dropdown'>
            <a href='#' class='navbar__item-link'>レポート</a>
            <ul class='navbar__dropdown-list'>
              <li class='navbar__dropdown-item'>
                <%= link_to '試算表', select_trial_balances_path, class:'navbar__item-link' %>
              </li>
              <li class='navbar__dropdown-item'>
                <%= link_to '推移表', select_transition_tables_path, class:'navbar__item-link' %>
              </li>
              <li class='navbar__dropdown-item'>
                <%= link_to '総勘定元帳', select_ledgers_path, class:'navbar__item-link' %>
              </li>
            </ul>
          </li>
          <li class='navbar__item'>
            <%= link_to '設定', accounts_path, class:'navbar__item-link' %>
          </li>
        <% else %>
          <li class='navbar__item'>
            <%= link_to '学習コンテンツ', contents_path, class:'navbar__item-link' %>
          </li>
          <li class='navbar__item'>
            <%= link_to '新規登録', new_user_registration_path, class:'navbar__item-link' %>
          </li>
          <li class='navbar__item'>
            <%= link_to 'ログイン', new_user_session_path, class:'navbar__item-link' %>
          </li>
        <% end %>
      </ul>
    </header>
    <main>
      <!-- flash message -->
      <div class='flash'>
        <%= render 'layouts/flash' %>
      </div>

      <%= yield %>
    </main>
    <footer>
      <p class='footer__text'>Copyright ︎©︎2021 Finance Learning</p>
    </footer>
  </body>
</html>
